language: php
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

before_script:
  - composer self-update

install:
  - composer install

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

env:
  - APP_ENV=testing

after_success:
  - bash <(curl -s https://codecov.io/bash)